<div ng-controller="app.views.freight.add as vm">
    <h4><span class="label label-primary rounded">Ładunek</span></h4>
    <div id="freight-info">
        <div class="panel panel-default rounded">
            <div class="panel-body">
                <table class="stretched">
                    <thead>
                        <tr>
                            <th>Nadwozie</th>
                            <th>Ładowność</th>
                            <th>Długość</th>
                            <th>Cena frachtu</th>
                            <th>Widoczność</th>
                            <th>Doładunek</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select ng-model="car_body" id="car-body" class="input-size-cargo rounded">
                                    <option value="tilt">Plandeka</option>
                                    <option value="curtain">Firanka</option>
                                </select>
                            </td>
                            <td>
                                <input ng-model="capacity" id="capacity" class="input-size-cargo rounded align-input-text" type="number" min="0.1" step="0.1" max="20.0" /> t
                            </td>
                            <td>
                                <input ng-model="length" id="length" class="input-size-cargo rounded align-input-text" type="number" min="0.1" step="0.1" max="20.0" /> m
                            </td>
                            <td>
                                <input ng-model="price" id="freight-price" class="input-size-cargo rounded align-input-text" type="number" min="100" step="20" max="2000" />
                                <select ng-model="currency" id="freight-price-currency" class="input-size-cargo rounded">
                                    <option value="PLN">PLN</option>
                                    <option value="EUR">EUR</option>
                                </select>
                            </td>
                            <td>
                                <select ng-model="visibility" id="visibility" class="input-size-cargo rounded">
                                    <option value="all">Wszyscy</option>
                                    <option value="friends">Znajomi</option>
                                </select>
                            </td>
                            <td>
                                <input ng-model="partial" id="partial-load" class="input-size-cargo align-input-text" type="checkbox" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h4><span class="label label-primary rounded">Trasa</span></h4>
    <div id="route-info">
        <div class="panel panel-default rounded">
            <div class="panel-body">
                <div id="route-from" class="col-md-5 display-table">
                    <div id="route-from-country" class="display-table-row">
                        <label for="country-from" class="display-table-cell">Kraj</label>
                        <select ng-model="country_from" id="country-from" class="input-size-cargo rounded display-table-cell">
                            <option value="PL">PL Polska</option>
                            <option value="GB">GB Wielka Brytania</option>
                        </select>
                    </div>
                    <div id="route-from-city" class="display-table-row">
                        <label for="city-from" class="display-table-cell">Miejscowość (kod)</label>
                        <input ng-model="city_from" id="city-from" type="text" class="input-size-cargo rounded display-table-cell align-input-text" value="(30-072) Kraków" />
                    </div>
                    <div id="route-loading-date" class="display-table-row">
                        <label for="loading-date" class="display-table-cell">Data załadunku</label>
                        <input ng-model="loading_date" id="loading-date" type="datetime" class="input-size-cargo rounded display-table-cell align-input-text" value="2015-07-01 20:00" />
                    </div>
                </div>
                <div id="direction-indicator" class="col-md-2 display-direction-indicator place-direction-indicator" style="text-align: center;">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" />
                </div>
                <div id="route-to" class="col-md-5 display-table">
                    <div id="route-to-country" class="display-table-row">
                        <label for="country-to" class="display-table-cell">Kraj</label>
                        <select ng-model="country_to" id="country-to" class="input-size-cargo rounded display-table-cell">
                            <option value="PL">PL Polska</option>
                            <option value="GB">GB Wielka Brytania</option>
                        </select>
                    </div>
                    <div id="route-to-city" class="display-table-row">
                        <label for="city-to" class="display-table-cell">Miejscowość (kod)</label>
                        <input ng-model="city_to" id="city-to" type="text" class="input-size-cargo rounded display-table-cell align-input-text" value="(39-200) Dębica" />
                    </div>
                    <div id="route-unloading-date" class="display-table-row">
                        <label for="unloading-date" class="display-table-cell">Data rozładunku</label>
                        <input ng-model="unloading_date" id="unloading-date" type="datetime" class="input-size-cargo rounded display-table-cell align-input-text" value="2015-07-02 15:00" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button ng-click="submit()" type="button" class="btn btn-success">Zgłoś</button>
</div>