<div class="navbar" role="navigation" ng-controller="app.views.layout.header as vm">
    <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="menuItem in vm.menu.items" ng-class="{active: vm.currentMenuName == menuItem.name}" style="margin: 20px;">
            <a ng-href="{{menuItem.url}}">
                <div>
                    <img src="{{menuItem.icon}}" height="40" width="40" />
                    {{menuItem.displayName}}
                </div>
            </a>
        </li>
    </ul>
</div>   